{% set title="Main Page" %}
{% set lang="en" %}

{% include 'parts/_head.html' %}

{% include 'parts/_header.html' %}

<h1>Hello, world!</h1>
<h2>2</h2>
<h3>3</h3>
<h4>EXPERIMENT</h4>
<h5>HEY!!</h5>
<p>Some text</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia cum reprehenderit explicabo? Quae corporis, nostrum aut adipisci fuga beatae dignissimos porro nulla laudantium soluta corrupti consequuntur illum reprehenderit repellat odio.</p>
<p>Text from office</p>
{% include 'parts/_foot.html' %}